

<!DOCTYPE html>
<html lang="en">
  <head></head>
  <body>
      <%if (!locals.user) { %>
      <form method="GET" action="/login">
        <p>Welcome to the TinyApp! Please sign in as a user.</p>
        <br />
        <input type="submit" value="Sign in" >
      </form>
      <% } else { %>
      <form method="POST" action="/logout">
        <input type="submit" value="Logout" >
      </form>
        <% } %>
      <form method="GET" action="/register">
        <input type="submit" value="Register" >
      </form>
      <!-- <a href= "/register">Register</a> -->
  </body>
</html>