<!DOCTYPE html>
<html lang="en">
  <head></head>
  <body style="font-size:20px; padding:50px;">
    <% include partials/_header %>
    <form action="/urls/superURL" method="POST" style="margin:150px;">
      <label for="longURL">Press the button to generate a super URL:</label>
      <input type="submit" value="Generate!!!!" onclick="generateRandomString();" >
    </form>
  </body>
</html>