<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>

<form method = "POST" action="/register" >
  <p>Welcome to registeration page!</p>
  <label for="yourName">Enter yout name: </label>
  <input text="name" name="name">
  <br />
   <label for="yourEmail">Enter yout email address: </label>
  <input text="email" name="email">
  <br />
  <label for="yourPassword">Enter yout password:    </label><input text="password" name="password">
  <br />  <br />
  <input type="submit" value="Submit">
</form>

</body>

</html>