<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>

<form method = "POST" action="/login" >
  <p> Wwelcome to the Login page! </p>
<!--  <label for="yourName">Enter your name:</label>
  <input type="text" name="username" > -->
  <br />
   <label for="yourEmail">Enter yout email address: </label>
  <input text="email" name="email">
  <br />
  <label for="yourPassword">Enter yout password:    </label>
  <input text="password" name="password">
  <br />  <br />
  <input type="submit" value="Submit">
</form>

</body>

</html>